{% load static from staticfiles %}

<script src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
<script src="{% static "cookiecontrol/js/cookieControl-3.0.1.min.js" %}" type="text/javascript"></script>
<script type="text/javascript">//<![CDATA[
    cookieControl({
text:'<p>This site uses cookies to store information on your computer. Some of these cookies are essential to make our site work and others help us to improve by giving us some insight into how the site is being used.</p><p>By using our site you accept the terms of our <a href="{{ privacy_url|default:"/privacy-policy/" }}">Privacy Policy</a>.</p>',
    position:'{{ position|default:"left" }}',
    shape:'{{ shape|default:"triangle" }}',
    startOpen:{% if start_open %}true{% else %}false{% endif %},
    autoHide:{{ hide_after|default:"30" }}000,
    {% if hide_on_accept %}onAccept:function(cc){cc.setCookie('civicShowCookieIcon', 'no');$('#ccc-icon').hide()}{% else %}onAccept:function(){}{% endif %},
    onReady:function(){},
    onCookiesAllowed:function(){},
    onCookiesNotAllowed:function(){},
    countries: [{% for country in countries %}'{{ country }}'{% if not forloop.last %}, {% endif %}{% endfor %}]
});
//]]>
</script>
